<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'found/all_css/css/style.css' %}">
    <title>Личный кабинет</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>

<body>

<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo">Fresh Meet</div>

            <nav class="nav">
                <a class="nav__link" href="http://5.188.143.108/">Главная</a>
                <a class="nav__link active" href="http://5.188.143.108/office">Личный кабинет</a>
                <a class="nav__link" href="http://5.188.143.108/entry">Вход</a>
            </nav>
        </div>
    </div>
</header>

<div class="intro">
    <a class="header_logo">Вы находитесь в очереди, ожидайте, когда подходящий для вас собеседник будет найден!</a>
</div>


<form action="/off_success/" method="post">

    {% csrf_token %}

    <div class="intro_2">
        <input class="button" type="submit" value="На главную">
    </div>

</form>

</body>

</html>
