<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'entry/all_css/css/style.css' %}">
    <title>Вход</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>

<body>

<header class="header">
    <div class="header_logo">Вход в Fresh Meet</div>
</header>

<form action="/log_success/" method="post">

    {% csrf_token %}

    <div class="intro">
        <label class="intro__text" for="your_mail">Введите вашу почту </label>
        <input id="your_mail" type="text" name="your_mail" value="{{ current_mail }}">
    </div>

    <div class="intro_2">
        <label class="intro__text" for="your_password">Введите ваш пароль </label>
        <input id="your_password" type="text" name="your_password" value="{{ current_password }}">
    </div>

    <div class="intro_2">
        <input class="button" type="submit" value="Вход">
    </div>

</form>

<div class="intro_2">
    <p class="intro_2__text_vniz">У вас еще нет аккаунта на нашем сайте? Зарегистрируйтесь скорее!</p>
    <a class="button" href="http://127.0.0.1:8000/registration">Регистрация</a>
</div>

</body>

</html>