<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="all css/css/style.css">
    <title>Вход</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>

<body>

<header class="header">
    <div class="header_logo">Вход в Fresh Meet</div>
</header>

<div class="intro">
    <a class="intro__text">Введите логин</a>
    <input class="intro__pole" type="text">

</div>

<div class="intro_2">
    <a class="intro__text_2">Введите пароль</a>
    <input class="intro__pole" type="text">
</div>

<div class="intro_2">
    <a class="button" href="#">Войти</a>
    <p class="intro_2__text_vniz">У вас еще нет аккаунта на нашем сайте? Зарегистрируйтесь скорее!</p>
    <a class="button" href="#">Регистрация</a>
</div>

</body>

</html>