version: "3.3"

services:
  db:
    image: postgres

    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  web:
    build: .
    command: python ./meet/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    depends_on:
      - db




# 'NAME': 'post_db',
#
#        'USER': 'team2',
#
#        'PASSWORD': '1234',
#
#        'HOST': 'localhost',
#
#        'PORT': '5432',