<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'start_page/all_css/css/style.css' %}">
    <title>Fresh Meet</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marko+One&display=swap" rel="stylesheet">
</head>

<body>

<header class="header">
    <div class="container">
        <div class="header_inner">
            <p><img class="header_logo" src="{% static 'start_page/all_css/img/logo.jpeg' %}" width="78" height="80" alt="Логотип"></p>
            <a class="header_logo">Fresh Meet</a>

            <nav class="nav">
                <a class="nav__link active" href="http://5.188.143.108/">Главная</a>
                <a class="nav__link" href="http://5.188.143.108/office">Личный кабинет</a>
                <a class="nav__link" href="http://5.188.143.108/drf-auth/">Вход</a>
            </nav>
        </div>
    </div>
</header>
<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <h2 class="intro__suptitle">Новые знакомства по интересам</h2>
            <h1 class="intro__title">Добро пожаловать в Fresh Meet</h1>
        </div>
    </div>
</div>
<p><a name="section"></a></p>
<section class="section">
    <div class="container">
        <div class="section_header">
            <h3 class="section_suptitle">Немного о нас</h3>
            <h2 class="section_title">Чем мы занимаемся</h2>
            <div class="section_text">
                <p>
                    Сервис fresh meet помогает организовать встречи людям исходя
                    из их общих интересов. Просто укажи, что тебе нравится,
                    и умные алгоритмы подберут тебе собеседника.
                    Организовывайте встречи и обменивайтесь опытом с новыми
                    знакомыми! </p>
            </div>
        </div>

        <div class="about">
            <div class="about__item">
                <div class="about__img">
                    <img src="{% static 'start_page/all_css/img/img1.jpeg' %}" alt="" width="300" height="300">
                </div>
                <div class="about__text">Встречайтесь</div>
            </div>
            <div class="about__item">
                <div class="about__img">
                    <img src="{% static 'start_page/all_css/img/img2.jpeg' %}" alt="" width="300" height="300">
                </div>
                <div class="about__text">Обменивайтесь опытом</div>
            </div>
            <div class="about__item">
                <div class="about__img">
                    <img src="{% static 'start_page/all_css/img/img3.jpeg' %}" alt="" width="300" height="300">
                </div>
                <div class="about__text">Помогайте друг другу в развитии своих навыков</div>
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="section_header">
            <h3 class="section_suptitle">Наши преимущества</h3>
            <h2 class="section_title">Зачем вам к нам присоединяться?</h2>
            <div class="section_text">
                <p>
                    Наш форум является абсолютно бесплатным, и воспользоваться
                    им может абсолютно каждый! Единственное, что вам нужно
                    сделать - зарегестрироваться на нашем сайте, и вы сразу же
                    сможете устроить себе встречу в соответствии с вашем увлечением.
                    Не тормози, присоединяйся! </p>
            </div>
            <form action="/search_success/" method="post">

                {% csrf_token %}

                <div class="intro_2">
                    <input class="button" type="submit" value="Начать поиск встречи">
                </div>

            </form>
        </div>

        <div class="about_2">
            <div class="about__item_2">
                <div class="about__img">
                    <img  src="{% static 'start_page/all_css/img/2.jpg' %}" alt="" width="600" height="400">
                </div>
                <div class="about__text_2">Присоединяйтесь к нам!</div>
            </div>
        </div>

    </div>
</section>


<section class="section">
    <div class="container">
        <div class="section_header">
            <h3 class="section_suptitle">Мы рады улучшать сервис для вас</h3>
            <h2 class="section_title">Не нашли свой город или увлечение?</h2>
            <div class="section_text">
                <p>
                    На нашем форуме не нашлось увлечения, подходящего именно вам?
                    Или же города в котором вы проживаете еще нет в базе?
                    Не переживайте, мы рады работать и расширяться ради наших пользователей.
                    Но нам нужно немного вашей помощи! Напишите письмо с предложением
                    на почту fresh_meet@yandex.ru и мы обязательно рассмотрим его и постараемся добавить
                    подходящее вам увлечение или же место проживания! </p>
            </div>
        </div>

        <div class="about">
            <div class="about__item">
                <div class="about__img">
                    <img src="{% static 'start_page/all_css/img/end_img_1.jpeg' %}" alt="" width="300" height="300">
                </div>
                <div class="about__text">Напишите нам</div>
            </div>
            <div class="about__item">
                <div class="about__img">
                    <img src="{% static 'start_page/all_css/img/end_img_2.jpeg' %}" alt="" width="300" height="300">
                </div>
                <div class="about__text">Наш менеджер обработает заявку</div>
            </div>
            <div class="about__item">
                <div class="about__img">
                    <img src="{% static 'start_page/all_css/img/end_img_3.jpeg' %}" alt="" width="300" height="300">
                </div>
                <div class="about__text">Вы сможете искать собеседников исходя именно из ваших увлечений</div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="about">
            <div class="about__item_3">
                <div class="contact_text">Наши контакты:</div>
            </div>
            <div class="about__item_3">
                <div class="contact_text">Телефон: 8-800-000-00-00</div>
            </div>
            <div class="about__item_3">
                <div class="contact_text">Почта: fresh_meet@yandex.ru</div>
            </div>
        </div>
    </div>
</section>

</body>

</html>
