body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color: #333;
    line-height: 1.6;

    background-color: #CFDAEC;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../img/fon.jpeg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__title {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin-bottom: 60px;

}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    color: #0B4F76;

    text-align: center;
}

.intro__suptitle {
    padding-top: 40px;
    font-size: 30px;
    color: #0B4F76;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}


/* Header */
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #0B4F76;
}



/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}


.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;

    color: #0B4F76;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link:hover {
    color: #9CBAD1;
}


/* Button */

.button {
    display: inline-block;
    vertical-align: top;
    padding: 8px 20px;
    border: 3px solid #0B4F76;

    font-size: 14px;
    font-weight: 700;
    color: #0B4F76;
    text-decoration: none;

    transition: background .2s linear;

    border-radius: 10px;

}

.button:hover {
    background-color: #9CBAD1;
    color: #0B4F76;
}

/* Section */
.section{
    padding: 80px 0;
}

.section_header{
    width: 100%;
    margin: 0 auto 40px;
    max-width: 900px;

    text-align: center;
}

.section_suptitle{
    font-size: 25px;
    color: #0B4F76;
    font-family: 'Kaushan Script', cursive;
}

.section_title{
    font-size: 40px;
    color: #0B4F76;
    font-weight: 700;
    text-transform: uppercase;
}

.section_text{
    padding-top: 20px;
    font-size: 18px;
    color: #0B4F76;
}

/* About */
.about{
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
}

.about__item{
    width: 300px;
    background-color: #0B4F76;
    border-radius: 10px;
    position: relative;
}

.about__item_2{
    width: 600px;
    background-color: #0B4F76;
    border-radius: 10px;
    position: relative;
}

.about__item:hover .about__text{
    opacity: 1;
}

.about__item_2:hover .about__text_2{
    opacity: 1;
}

.about__img{
    background:linear-gradient(to bottom, #003970, #0B4F76);
    border-radius: 10px;
    transition: transform .2s linear;
}

.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about__item_2:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img{
    opacity: .5;
}

.about__item_2:hover .about__img img{
    opacity: .2;
}

.about__img img {
    display: block;
    transition: opacity .2s linear;
    border-radius: 10px;
}

.about__text{
    width: 100%;
    color: #003970;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    font-family: 'Marko One', serif;

    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50px, 0);

    transition: opacity .1s linear;
}

.about__text_2 {
    width: 100%;
    color: #CFDAEC;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    font-family: 'Marko One', serif;

    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50px, 0);

    transition: opacity .1s linear;
}


