<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'office/all_css/css/style.css' %}">
    <title>Личный кабинет</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>

<body>

<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo">Fresh Meet</div>

            <nav class="nav">
                <a class="nav__link" href="http://127.0.0.1:8000/">Главная</a>
                <a class="nav__link" href="#">Чатик</a>
                <a class="nav__link active" href="http://127.0.0.1:8000/office">Личный кабинет</a>
                <a class="nav__link" href="http://127.0.0.1:8000/entry">Вход</a>
            </nav>
        </div>
    </div>
</header>

<div class="intro">
    <a class="header_logo">Личный кабинет в Fresh Meet</a>
</div>
<form action="/off_success/" method="post">

    {% csrf_token %}

    <div class="intro_2">
        <input class="button" type="submit" value="Редактировать профиль">
    </div>

</form>

<div class="intro_2">
    <a class="intro_2__text_vniz" >Имя</a>
    <a class="intro__text">{{ your_name }}</a>

</div>

<div class="intro_2">
    <a class="intro_2__text_vniz">Пол</a>
    <a class="intro__text">{{your_sex}}</a>
</div>

<div class="intro_2">
    <a class="intro_2__text_vniz">Возраст</a>
    <a class="intro__text">{{your_age}}</a>
</div>

<div class="intro_2">
    <a class="intro_2__text_vniz">Город</a>
    <a class="intro__text">{{your_town}}</a>
</div>

<div class="intro_2">
    <a class="intro_2__text_vniz">Увлечение</a>
    <a class="intro__text">{{your_hobby}}</a>
</div>

<form action="/off_success/" method="post">

    {% csrf_token %}

    <div class="intro_2">
        <input class="button" type="submit" value="Выйти">
    </div>

</form>

</body>

</html>
