<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/all_css/css/style.css' %}">
    <title>Регистрация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>

<body>

<header class="header">
    <div class="header_logo">Регистрация во Fresh Meet</div>
</header>

<div class="intro">
    <a class="intro__text">Введите ваше имя</a>
    <input class="intro__pole" type="text">

</div>

<div class="intro_2">
    <a class="intro__text_2">Выберите ваш пол</a>
    <form>
        <p><input class="intro__pole" list="sex"></p>
        <datalist class="intro__pole" id="sex">
            <option>Женский</option>
            <option>Мужской</option>
        </datalist>
    </form>
    <input class="intro__pole" type="text">
</div>

<div class="intro_2">
    <a class="intro__text_2">Введите ваш возраст</a>
    <input class="intro__pole" type="text">
</div>

<div class="intro_2">
    <a class="intro__text_2">Выберите город в котором вы проживаете</a>
    <form>
        <p><input class="intro__pole" list="town"></p>
        <datalist class="intro__pole" id="town">
            <option>Москва</option>
            <option>Красногорск</option>
        </datalist>
    </form>
</div>

<div class="intro_2">
    <a class="intro__text_2">Выберите ваше основное увлечение</a>
    <form>
        <p><input class="intro__pole" list="hobbys"></p>
        <datalist class="intro__pole" id="hobbys">
            <option>Альпинизм</option>
            <option>Скороговорки</option>
        </datalist>
    </form>
</div>

<div class="intro">
    <a class="intro__text">Введите вашу почту</a>
    <input class="intro__pole" type="text">

</div>

<div class="intro_2">
    <a class="intro__text_2">Придумайте пароль</a>
    <input class="intro__pole" type="text">
</div>

<div class="intro_2">
    <a class="intro__text_2">Повторите пароль</a>
    <input class="intro__pole" type="text">
</div>

<div class="intro_2">
    <a class="button" href="#">Регистрация</a>
</div>

</body>

</html>