<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/all_css/css/style.css' %}">
    <title>Регистрация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>

<body class="body">

<header class="header">
    <div class="header_logo">Регистрация во Fresh Meet</div>
</header>

<form action="/reg_success/" method="post">

    {% csrf_token %}

    <div class="intro">
        <label class="intro__text" for="your_name">Введите ваш телеграм </label>
        <input placeholder="Телеграмм" id="your_name" type="text" name="your_name" value="{{ current_name }}">
    </div>

    <div class="intro_2">
        <label class="intro__text" for="your_sex">Выберите ваш пол </label>
        <p><input placeholder="Пол" list="your_sex" type="text" name="your_sex" value="{{ current_sex }}"></p>
        <datalist class="intro__pole" id="your_sex">
            <option>Женский</option>
            <option>Мужской</option>
        </datalist>
    </div>

    <div class="intro_2">
        <label class="intro__text" for="your_age">Введите ваш возраст </label>
        <input placeholder="Возраст" id="your_age" type="text" name="your_age" value="{{ current_age }}">
    </div>

    <div class="intro_2">
        <label class="intro__text" for="your_town">Выберите город в котором вы проживаете </label>
        <p><input placeholder="Город" list="your_town" type="text" name="your_town" value="{{ current_town }}"></p>
        <datalist class="intro__pole" id="your_town">
            <option>Москва</option>
            <option>Подмосковье</option>
            <option>Волгоград</option>
            <option>Воронеж</option>
            <option>Санкт-Петербург</option>
        </datalist>
    </div>

    <div class="intro_2">
        <label class="intro__text" for="your_hobby">Выберите ваше основное увлечение </label>
        <p><input placeholder="Интерес" list="your_hobby" type="text" name="your_hobby" value="{{ current_hobby }}"></p>
        <datalist class="intro__pole" id="your_hobby">
            <option>Альпинизм</option>
            <option>Бег</option>
            <option>Вязание</option>
            <option>Игры</option>
            <option>Сериалы</option>
            <option>Скороговорки</option>
            <option>Спорт</option>
            <option>Фильмы</option>
        </datalist>
    </div>

    <div class="intro_2">
        <label class="intro__text" for="your_mail">Введите вашу почту </label>
        <input placeholder="Почта" id="your_mail" type="text" name="your_mail" value="{{ current_mail }}">
    </div>

    <div class="intro_2">
        <label class="intro__text" for="your_password">Придумайте пароль </label>
        <input placeholder="Пароль" id="your_password" type="text" name="your_password" value="{{ current_password }}">
    </div>

    <div class="intro_2">
        <label class="intro__text" for="your_password2">Повторите пароль </label>
        <input placeholder="Повтор пароля" id="your_password2" type="text" name="your_password2" value="{{ current_password2 }}">
    </div>

    <div class="intro_2">
        <input class="button" type="submit" value="Регистрация">
    </div>

</form>

</body>

</html>